---
import BaseLayout from "../layouts/BaseLayout.astro";

import { Image } from "astro:assets";
import landscape from "../images/landscape.jpg";
import middle from "../images/middle.png";

const title = "My Astro Blog";
const description = "The perfect starter for your perfect blog.";
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div
    class="relative w-screen flex justify-center items-center shadow-[inset 0px 0px 98px 4px rgba(0,0,0,0.75) inset 0px 0px 98px 4px rgba(0,0,0,0.75)]"
  >
    <div class="absolute left-0 bg-zinc-800 w-1/2 h-full -z-10 hidden lg:flex">
    </div>
    <div class="absolute left-1/2 bg-white w-1/2 h-full -z-10 hidden lg:flex">
    </div>
    <div
      class="flex items-center justify-center h-full flex-col lg:flex-row w-full lg:w-11/12 max-w-screen-xl"
    >
      <div
        class="flex justify-center items-center flex-col flex-1 py-16 lg:p-0 w-full bg-zinc-800 lg:bg-transparent"
      >
        <h1
          class="text-center text-6xl lg:text-9xl font-semibold text-amber-400 bg-transparent"
        >
          Hello!
        </h1>
      </div>
      <div
        class="relative h-[600px] overflow-hidden bg-white w-[300px] hidden lg:block"
      >
        <div
          class="relative bg-zinc-800 -left-[290px] -top-40 w-[400px] h-[800px] rotate-[17deg]"
        >
        </div>
      </div>
      <div
        class="bg-transparent lg:h-[600px] flex justify-center items-center py-8 lg:py-0"
      >
        <div class="rounded-full overflow-hidden">
          <Image
            src={landscape}
            alt="Snowy landscape"
            height={500}
            width={500}
          />
        </div>
      </div>
    </div>
  </div>
  <div class="w-screen h-20 bg-amber-400 flex justify-center items-center">
    <h2
      class="flex-1 text-center text-black text-4xl font-semibold py-20 block lg:hidden"
    >
      Projects:
    </h2>
  </div>
  <h2
    class="flex-1 text-center text-amber-400 text-6xl font-semibold py-20 hidden lg:block"
  >
    Projects:
  </h2>
</BaseLayout>
