---
import BaseLayout from "../layouts/BaseLayout.astro";

import { Image } from "astro:assets";
import landscape from "../images/landscape.jpg";
import middle from "../images/middle.png";

const title = "My Astro Blog";
const description = "The perfect starter for your perfect blog.";
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="relative flex w-screen items-center justify-center">
    <div class="absolute left-0 -z-10 hidden h-full w-1/2 bg-zinc-800 lg:flex">
    </div>
    <div class="absolute left-1/2 -z-10 hidden h-full w-1/2 bg-white lg:flex">
    </div>
    <div
      class="flex h-full w-full max-w-screen-xl flex-col items-center justify-center lg:w-11/12 lg:flex-row"
    >
      <div
        class="flex w-full flex-1 flex-col items-center justify-center bg-zinc-800 py-8 lg:bg-transparent lg:p-0"
      >
        <h1
          class="bg-transparent text-center text-6xl font-semibold text-amber-400 lg:text-9xl"
        >
          Hello!
        </h1>
      </div>
      <div
        class="relative hidden h-[500px] w-[300px] overflow-hidden bg-white lg:block"
      >
        <div
          class="relative -left-[250px] -top-40 h-[800px] w-[400px] rotate-[17deg] bg-zinc-800"
        >
        </div>
      </div>
      <div
        class="flex w-full items-center justify-center bg-white py-8 shadow-[inset_0px_0px_126px_22px_rgba(251,191,36,1)] lg:h-[500px] lg:w-fit lg:py-0 lg:shadow-none"
      >
        <div
          class="flex-shrink-1 w-11/12 max-w-[480px] overflow-hidden rounded-full lg:h-fit lg:w-fit"
        >
          <Image
            src={landscape}
            alt="Snowy landscape"
            height={480}
            width={480}
          />
        </div>
      </div>
    </div>
  </div>
  <div
    class="hidden h-20 w-screen items-center justify-center lg:flex lg:bg-amber-500"
  >
  </div>
  <div class="flex w-full items-center justify-center bg-zinc-800">
    <h2
      class="block flex-1 py-16 text-center text-6xl font-semibold text-amber-400"
    >
      Projects:
    </h2>
  </div>
</BaseLayout>
