<footer>
  <span>
    <p class="dark:text-white inline">
      &copy; {new Date().getFullYear()} Delvis.org. Powered by <a
        class="dark:text-white inline"
        href="https://astro.build"
        target="_blank"
        rel="noopener">Astro.</a
      >
    </p>
    <p class="dark:text-white inline">Based on template by</p>
    <a
      class="dark:text-white inline"
      href="https://www.twitter.com/Charca"
      target="_blank"
      rel="noopener">Maxi Ferreira</a
    >.
  </span>
</footer>

<style>
  footer {
    font-size: 0.8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }
</style>
