---
import Nav from "./Nav.astro";
import { Image } from "astro:assets";
import blogLogo from "../images/blogLogo.png";

const { current = "" } = Astro.props;
---

<header
  
  class="flex justify-around w-screen py-2 bg-gradient-to-t to-amber-400 from-amber-500 sticky top-0"
>
  <div class="flex items-center justify-between max-w-screen-xl w-11/12">
    <a href="/">
      <Image src={blogLogo} alt="Logo" width={50} />
    </a>

    <Nav current={current} />
  </div>
</header>
