---
import { Image } from "astro:assets";
import Picture from "astro/components/Picture.astro";
import blogLogo from "../images/blogLogo.png";
import Nav from "./Nav.astro";

const { current = "" } = Astro.props;
---

<header
  transition:persist="header"
  transition:name="header"
  class="fixed top-0 left-0 z-50 flex w-full justify-around bg-gradient-to-t from-amber-500 to-amber-400 py-2 h-16"
>
  <div class="flex w-11/12 max-w-screen-xl items-center justify-between">
    <a href="/">
      <Picture
        src={blogLogo}
        alt="Logo"
        formats={["avif"]}
        width={50}
      />
    </a>

    <Nav current={current} />
  </div>
</header>
<div class="h-16"></div>
