---
import ThemeToggleButton from "./ThemeToggleButton.tsx";
const { current = "" } = Astro.props;
---

<nav class="flex items-center justify-center gap-12">
  <div>
    <ThemeToggleButton client:load />
  </div>
  <a class="text-xl font-semibold text-black" href="/">home</a>
  <a class="text-xl font-semibold text-black" href="/blog">blog</a>
</nav>

<!-- TODO see what that current was for css in original -->
