---
import ThemeToggleButton from "./ThemeToggleButton.tsx";
const { current = "" } = Astro.props;
---

<nav class="flex justify-center items-center gap-12">
  <div>
    <ThemeToggleButton client:load />
  </div>
  <a class="text-black font-semibold text-xl" href="/">home</a>
  <a class="text-black font-semibold text-xl" href="/blog">blog</a>
</nav>

<!-- TODO see what that current was for css in original -->